---
# Layout kommt schon aus index.11tydata.js,
# du kannst das Frontmatter sogar ganz leer lassen oder nur '--- ---'.
---

{% include "sections/hero.njk" %}
<div class="container">
    <section class="section">
        {% include "sections/osiris.njk" %}
    </section>
    <section class="section">
        {% include "sections/services.njk" %}
    </section>
    <section class="section">
        {% include "sections/clients.njk" %}
    </section>
    <section class="section">
        {% include "sections/team.njk" %}
    </section>
    <section class="section">
        {% include "sections/philosophy.njk" %}
    </section>
    <section class="section">
        {% include "sections/contact.njk" %}
    </section>
</div>